# SOPS-encrypted version of .env (managed via sops + age)
# Decrypt: sops -d monitoring/.env.enc > monitoring/.env
# Encrypt: sops -e monitoring/.env > monitoring/.env.enc
# This example shows the structure without real secrets.
GRAFANA_ADMIN_PASSWORD: ENC[AES256_GCM,data:...,iv:...,tag:...,type:str]
PG_EXPORTER_PASSWORD: ENC[AES256_GCM,data:...,iv:...,tag:...,type:str]
REDIS_EXPORTER_PASSWORD: ENC[AES256_GCM,data:...,iv:...,tag:...,type:str]
DISCORD_ALERTS_WEBHOOK_URL: ENC[AES256_GCM,data:...,iv:...,tag:...,type:str]
sops:
  age:
    - recipient: age1...guinevere_public_key
      enc: ...
